.Header {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: black;
  z-index: 4;
  padding: 0.5rem 1.5rem;

  hr {
    position: absolute;
    left: 0;
    width: 40%;
    border: 5px solid #f0f0f0;
    bottom: 1.1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .LeftButtons {
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .SearchContainer {
      display: none;
    }

    .LeftButton {
      position: relative;
      padding: 0.7rem;
      max-height: 40px;
      background-color: #f0f0f0;
      font-weight: bold;
      color: #0000008e !important;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: 0.2s;

      svg {
        color: #000;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: rgba(204, 201, 201, 0.491);
      }

      &.active {
        box-shadow: var(--box-shadow);
      }

      label {
        cursor: pointer;
        max-width: 100px;
        white-space: nowrap;
        overflow-x: hidden;
        font-size: 0.9;
        text-overflow: ellipsis;
      }
    }
  }

  .Link {
    position: relative;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    gap: 0.5rem;

    &:hover {
      opacity: 1;
      color: #000;
    }

    &:last-of-type {
      padding-left: 0;
    }

    svg {
      font-size: 0.9rem;
      opacity: 0.9;
    }

    &::before {
      position: absolute;
      left: 0;
      bottom: -1.2rem;
      content: "";
      display: block;
      width: 0;
      height: 3px;
      opacity: 0;
      transition: 0.2s;
    }

    &:hover {
      &::before {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .Center {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0.5rem;

    .Search {
      background-color: #f0f0f0;
      border-radius: 10px;
      display: flex;
      align-items: center;
      direction: rtl;
      transition: 0.2s;
      margin-top: 0.2rem;

      &:focus-within {
        box-shadow: var(--box-shadow);
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        width: 50px;
      }
    }

    .Dropdowns {
      display: flex;
      align-items: center;
      direction: rtl;
      font-size: 0.8rem;
      gap: 2rem;
      padding: 0 0.2rem;
    }

    .DropdownContainer {
      position: relative;

      .DropdownButton {
        border-left: 1px solid #0000001f;
        text-align: right;
        font-weight: bold;
        padding-left: 1.5rem;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        &::before {
          position: absolute;
          left: 0;
          bottom: -1rem;
          content: "";
          display: block;
          width: 0px;
          height: 3px;
          background-color: black;
          transition: 0.2s;
        }

        &.active {
          &::before {
            opacity: 1;
            width: 100%;
          }
        }

        svg {
          transition: 0.2s;
          height: 20px;
          width: 20px;
          color: var(--black-50);
        }

        .active {
          transform: rotate(180deg);
        }
      }

      .Dropdown {
        position: absolute;
        z-index: -1;
        opacity: 0;
        right: 100rem;
        padding: 1rem 0;
        transition: 0.2s;
        direction: ltr;

        &.active {
          z-index: 4;
          right: -25rem;
          opacity: 1;
          transform: translateX(-50%);
        }

        .DropdownSmall,
        .DropdownBig {
          background-color: var(--background-color);
          box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          color: #000;
        }

        .DropdownSmall {
          width: 600px;
          height: max-content;

          .ProductList {
            width: 100%;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            max-height: 200px;

            li {
              width: 50%;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              padding: 2rem 1rem;

              &:first-of-type {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
              }

              &:last-of-type {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
              }

              &:hover {
                background-color: var(--Gray);
              }

              svg {
                position: absolute;
                right: 2rem;
                height: 20px;
                margin-top: 0.2rem;
                width: 20px;
              }
            }
          }
        }

        .DropdownBig {
          position: relative;
          width: 55vw;
          height: 450px;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;

          .ImageContainer {
            position: relative;
            flex-grow: 1;
            z-index: 2;
            border-radius: 10px;
            width: 60%;
            height: 100%;
            align-self: center;

            img {
              object-fit: cover;
              border-radius: 10px !important;
            }
            .SeeButton {
              position: absolute;
              bottom: 5%;
              left: 0%;
              width: 90%;
              border: solid rgba(255, 255, 255, 0.738) 2px;
              font-size: 1.2rem;
              border-radius: 10px;
              padding: 0.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              transition: 0.2s;
              &:hover {
                padding: 0;
                border-color: transparent;
                a {
                  background-color: #000;
                  color: #fff !important;
                  gap: 2rem;
                  margin-left: -0.2rem;
                }
              }
              a {
                flex-grow: 1;
                background-color: rgba(255, 255, 255, 0.738);
                color: #000;
                border-radius: 10px;
                padding: 1rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                transition: 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
              }
            }
          }

          .CategoriesList {
            flex-grow: 1;
            max-width: 30%;
            border-radius: 10px;
            z-index: 1;

            ul {
              list-style: none;
              direction: rtl;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              width: 100%;

              li {
                cursor: pointer;
                position: relative;
                background-color: var(--background-color);
                color: #000;
                flex-grow: 1;
                display: flex;
                width: 100%;
                align-items: center;
                font-size: 1.1rem;
                justify-content: center;
                opacity: 0.5;
                transition: 0.5s;

                &.active {
                  opacity: 1;
                }

                &:first-of-type {
                  border-top-right-radius: 10px;
                }

                &:last-of-type {
                  border-bottom-right-radius: 10px;
                }

                &:hover {
                  svg {
                    opacity: 1;
                  }
                }

                svg {
                  position: absolute;
                  right: 1rem;
                  font-size: 1.5rem;
                  opacity: 0.8;
                  transition: 0.5s;
                  background-color: var(--background-color);
                  z-index: 4;
                }

                .Span {
                  background-color: rgb(0, 0, 0);
                  width: 4px;
                  position: absolute;
                  right: 9px;
                  height: 50%;
                }

                label {
                  cursor: pointer;
                  padding: 0.5rem 1rem;
                  background-color: var(--background-color);
                  z-index: 2;
                }
              }
            }
          }
        }
      }
    }
  }

  .Colaps {
    position: absolute;
    left: 0.8rem;
    color: #000;
    z-index: -1;
    opacity: 0;
  }
}

.Logo {
  direction: rtl;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    opacity: 0.7;
  }

  h3 {
    color: #212121;
    opacity: 0.4;
    font-size: 0.9rem;
  }
}
.Cart {
  position: relative;
  .counting {
    position: absolute;
    left: 0.5rem;
    z-index: 5;
    top: -0.7rem;
    background-color: rgba(255, 0, 0, 0.645);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 0.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
  }
  .ShoppingCart {
    height: 65vh;
    width: 40vw;
    background-color: var(--background-color);
    border: var(--border);
    position: absolute;
    transform: scale(0.8);
    display: none;
    border-radius: 5px;
    transition: 0.2s;
    flex-direction: column;
    padding: 1rem;
    .emptyCart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      gap: 1rem;
      padding-top: 3rem;
    }

    &.active {
      display: flex;
      z-index: 5;
      transform: scale(1);
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: var(--border);
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        direction: rtl;
        button {
          border-right: var(--border);
          padding: 0 0.5rem 0 0.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .title {
        border-bottom: 3px solid var(--border-color);
        padding-bottom: 0.5rem;
      }

      .close {
        svg {
          height: 20px;
          width: 20px;
          color: #000000;
        }
      }
    }

    .main {
      flex-grow: 1;
      height: 100%;
      padding: 0.5rem 0 0 0;
      .CartSlider {
        .CartSlide {
          padding: 1rem 0 0 0;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      gap: 1rem;
      direction: rtl;
      .checkout {
        flex-grow: 1;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: var(--border);
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;

        &:disabled {
          background-color: 0.7;
        }
      }
      .clearAll {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: var(--border);
        background-color: rgba(58, 57, 57, 0.9);
        color: #fff;
      }
      .Price {
        display: flex;
        min-width: 40%;
        flex-direction: column;
        .PriceValue {
          text-align: center;
          font-size: 1.1rem;
          font-weight: bold;
        }
        .PriceTitle {
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
    }
  }
}
.CartItem {
  display: flex;
  border: var(--border);
  padding: 0 0 0 0.5rem;
  border-radius: 10px;
  direction: rtl;
  img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .Top {
    position: absolute;
    width: 95%;
    top: 0.5rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .color {
    border: var(--border);
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .Titles {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      direction: rtl;
      opacity: 0.5;
      margin-bottom: -1rem;
      font-size: 0.8rem;
    }
  }
  .Details {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    padding-right: 0.5rem;
    height: 100%;
  }
}

.QuantityPanel {
  border-radius: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  direction: rtl;
  justify-content: center;
  border: var(--border);
  width: max-content;
  align-self: center;
  padding: 0 1rem;
  gap: 1rem;
  font-size: 1.1rem;
  .quantity {
    font-size: 0.8rem;
    opacity: 0.8;
    label {
      opacity: 1;
      font-size: 1rem;
      margin-right: 0.5rem;
      font-weight: bold;
      border-left: var(--border);
      padding-left: 1rem;
    }
  }
  .functions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    font-size: 1.2rem;
    height: 30px;
  }
}
.PriceAndRemove {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.5rem;
  .labelTitle {
    opacity: 0.8;
  }
  .labelValue {
    font-weight: bold;
  }
}
.Delete {
  border: 1px solid;
  color: #eb4949;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
}
.userDropdown {
  position: absolute;
  display: none;
  width: 200px;
  left: 0rem;
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: white;
  transition: 0.2s;
  top: 3rem;
  flex-direction: column;
  &:active {
    transform: scale(0.8);
  }
  a {
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 0;
    border-bottom: var(--border);
  }
  .signoutButton {
    padding: 0.5rem 0;
    color: #eb4949;
    opacity: 0.8;
    font-size: 1.1rem;
  }

  &.active {
    display: flex;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0.5rem 0;
    border-bottom: var(--border);
    img {
      border-radius: 50%;
    }
    .email {
      font-size: 0.8rem;
      opacity: 0.8;
      font-weight: bold;
      text-align: center;
      max-width: 150px !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .Header {
    hr {
      display: none;
    }

    .Center {
      .Dropdowns {
        position: fixed;
        border-left-color: transparent;
        min-width: 100%;
        border: var(--border);
        background-color: rgb(255, 255, 255);
        border-top: 0;
        top: 4.8rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
        gap: 3rem;
        left: -300%;
        opacity: 0;
        transition: 0.2s;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        z-index: -2;

        .DropdownButton {
          font-size: 1.2rem;
          border-left-color: transparent;
        }

        .Dropdown {
          &.active {
            right: -12.5rem;
          }

          .DropdownBig {
            min-width: 95vw;
            margin-left: 1rem;
            border: var(--border);
            max-height: 350px;
            overflow-y: auto;

            .ImageContainer {
              width: 40% !important;
            }

            .CategoriesList {
              max-width: unset;
              li {
                font-size: 0.8rem !important;
              }
            }

            .Slider {
              height: 350px;

              .Slide {
                height: 350px;
              }
            }
          }
        }

        &.Collapsed {
          opacity: 1;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
        }
      }

      .Link {
        border-left-color: transparent;
      }
    }
  }

  .LeftButtons {
    padding-left: 2.3rem;
    svg {
      font-size: 1rem;
    }

    .label {
      display: none;
    }
  }

  .Colaps {
    z-index: 3 !important;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    top: 1rem;
    opacity: 1 !important;
  }

  .ShoppingCart {
    min-width: 98vw !important;
    min-height: max-content !important;
    height: unset !important;
    left: -6.5rem !important;
    top: 3rem;
    box-shadow: var(--box-shadow);
    .main {
      padding: 0.5rem !important;
    }
  }
}
