.Item {
  position: relative;
  direction: rtl;
  min-width: 220px;
  max-width: 220px;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  min-height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;

  .Top {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 1.5rem 0 0;
    z-index: 3;

    .Offer {
      color: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
      background-color: #f74d4d;
    }

    svg {
      color: #f74d4d;
      font-size: 1.4rem;
      margin-top: 0.5rem;
    }
  }

  .Bottom {
    min-height: 30%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f7f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    direction: rtl;

    .category {
      font-weight: bold;
      opacity: 0.6;
      font-size: 0.8rem;
    }

    .title {
      text-align: center;
      font-weight: bold;
      padding: 0 1.39rem;
      font-size: 0.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
      min-height: 20px;
    }
    .Prices {
      display: flex;
      align-items: center;
      flex-direction: column;
      .OldPrice {
        direction: rtl;
        opacity: 0.6;
        text-decoration: line-through;
        font-size: 0.8rem;
      }

      .NewPrice {
        font-size: 1rem;
        color: #f02424;
        direction: rtl;

        i {
          font-size: 0.8rem;
        }
      }

      i {
        color: #6e6b6bc0;
        font-style: normal;
        font-size: inherit;
      }
    }
  }

  .Main {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    flex-grow: 1;
    img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      object-fit: cover !important;
      object-position: 50% 80% !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Item {
    .Purchase {
      white-space: nowrap;
      font-size: 0.8;
      padding: 0.2rem !important;
    }
  }
}
